app/venv/
__pycache__/
*.pyc
# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.tfplan
terraform/crash.log
terraform/crash.*.log
terraform/tfplan
